<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      $(document).ready(function(){
        $('select').formSelect();
      });
    </script>
    <script>$('.chip').addClass('blue');</script>
    <!-- Compiled and minified CSS -->
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
</head>


<body>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Socialmedia</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
          {% if user.is_authenticated %}
              <li><a href="/account">{{ user.username }}</a></li>
              <li><a href="/logout">Logout</a></li>
              {% else %}
              <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
          {% endif %}

      </ul>

    </div>
  </nav>
   {% if messages %}
        {% for message in messages %}
          <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:2000});</script>
        {% endfor %}
    {% endif %}
  {% block content %}
  {% endblock %}
</body>